dist: xenial
os: linux
language: generic
services: 
  - docker

before_install:
  - docker build -t duizer/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true duizer/docker-react npm run test